.app {
  text-align: center;
  background-color: #92a4c5;
  color: rgb(255, 218, 218);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-content {
  display: flex;
  flex-direction: row;
}

.app-col {
  display: flex;
  width: 30vw;
  flex-direction: column;
}